@import 'includes/alerts';

body {
	background: #fff;
	color: #171717;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 5%;
}
<<<<<<< HEAD

.teaser_box {
	padding: 20px;
	background: #ccc;
	margin-bottom: 10px;
}
=======
>>>>>>> 369acc76ddfcffd9f3a374c208ac186999d6134f
