
$lcms_gray: #333;
$panel_width: 300px;
$panel_wide_width: 100%;
$orange: #fa503a;

@mixin lcms_panel_link_with_icon {
	display: block;
	background-size: contain;
	text-indent: 36px;
	background-repeat: no-repeat;
	background-position: center left;
}

#lcms_main_panel {
	font-family: Arial, sans-serif;
	font-size: 13px;
	background: $lcms_gray;
	position: absolute;
	top: 0;
	left: 0px;
	height: 100%;
	color: #fff;
	z-index: 3;

	h2.cms_title {
		color: $orange;
	}

	a {
		color: #ffffff;
	}

	&.animate {
		transition: 0.2s ease-in-out;
	}
	&.orig {
		width: $panel_width;
		transform: translateX($panel_width*-1);
	}
	&.wide {
		width: $panel_wide_width;
		transform: translateX($panel_wide_width*-1);
	}
	&.open {
		transform: translateX(0px);
	}

	.handle {
		text-decoration: none;
		$handle_size: 40px;
		display: block;
		background: $lcms_gray;
		float: right;
		text-align: center;
		margin-right: $handle_size * -1;

		.handle_content {
			width: $handle_size;
			height: $handle_size - 13;
			display: block;
			color: #fff;
			padding: 10px 0 5px;
			font-size: 20px;
		}
	}

	.content {
		padding: 10px;

		nav {
			display: block;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: block;

				li {
					display: block;
					margin-top: -1px;
					border-top: 1px solid #666;
					border-bottom: 1px solid #666;

					a {
						display: block;
						padding: 15px 10px;
						text-decoration: none;
						outline: none;

						&:hover {
							background-color: #666;
						}
					}
				}
			}
		}
	}

	.dyn_content {
		display: block;

		.close_dyn_content {
			font-weight: bold;
			text-decoration: none;
			float: right;
			color: #fff;
			padding: 10px 15px;
			margin: 5px;
			border: 1px solid $orange;

			&:hover {
				color: $lcms_gray;
				border: 1px solid $lcms_gray;
				background: $orange;
			}
		}
	}
}

#lcms_container {
	&.animate {
		transition: 0.2s ease-in-out;
	}
	&.open {
		transform: translateX($panel_width);
	}
}

.lcms_modal {
	h2 {
		font-size: 14px;
		font-weight: bold;
		display: inline-block;
		color: $orange;
		display: block;
	}
}

.contenteditable {
	box-shadow: 0px 0px 1px 0px red inset;
}

.cms_block_tools {
	position: absolute;
	display: block;
	background: $lcms_gray;
	padding: 4px;
	font-size: 12px;
	z-index: 2;

	a {
		text-decoration: none;
		display: inline-block;
		padding: 0 5px;
		color: #fff;
	}
}

/* css for datepicker */
.ui-datepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-datepicker-div dl { text-align: left; }
.ui-datepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-datepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-datepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-datepicker-rtl{ direction: rtl; }
.ui-datepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-datepicker-rtl dl dt{ float: right; clear: right; }
.ui-datepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.lcms_page_form_wrapper {

	form {

		input[type=text] {
			display: block;
			background: #1c1c1c;
			padding: 5px;
			width: 80%;
			max-width: 600px;
			font-size: 12px;
			color: #fff;
			border: solid 1px #525252;
		}

		input[type=submit] {
			background: $orange;
			display: inline-block;
			padding: 5px 10px;
			color: #000;
			border: none;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

.icon_create_new_page {
	@include lcms_panel_link_with_icon;
	background-image: url('../lcms/img/icons/appbar.page.add.png');
}
.icon_page_properties {
	@include lcms_panel_link_with_icon;
	background-image: url('../lcms/img/icons/appbar.page.edit.png');
}
.icon_unpublish_page {
	@include lcms_panel_link_with_icon;
	background-image: url('../lcms/img/icons/appbar.noentry.png');
}
.icon_delete_page {
	@include lcms_panel_link_with_icon;
	background-image: url('../lcms/img/icons/appbar.page.delete.png');
}
.icon_flush_caches {
	@include lcms_panel_link_with_icon;
	background-image: url('../lcms/img/icons/appbar.clean.png');
}
.icon_logout {
	@include lcms_panel_link_with_icon;
	background-image: url('../lcms/img/icons/appbar.power.png');
}
